POSTGRES_DB=gateway
POSTGRES_USER=gateway
POSTGRES_PASSWORD=gateway
CORS_ALLOWED_ORIGIN=http://localhost:5173
APP_BASE_URL=http://localhost:8080
MCP_OAUTH_USER=user
MCP_OAUTH_PASSWORD=password
OAUTH_CLIENT_ID=aifindr
OAUTH_CLIENT_SECRET=aifindr-dev-secret
